name: Dependabot Auto-merge

on:
  pull_request:
    branches: [ master ]
    types: [ opened, reopened, synchronize ]

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      
      - name: Enable auto-merge for Dependabot PRs
        if: ${{ steps.metadata.outputs.update-type == 'version-update:semver-patch' }}
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      
      - name: Run bundle install
        run: |
          gem install bundler
          bundle install
      
      - name: Run Jekyll build
        run: bundle exec jekyll build

      - name: Uninstall @anthropic-ai/claude-code
        run: npm uninstall -g @anthropic-ai/claude-code

      - name: Install @anthropic-ai/claude-code
        run: sudo npm install -g @anthropic-ai/claude-code 